.system-detail-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  justify-content: center;
}

.container-information,
.container-change {
  padding: 20px;
  width: 100%;
  text-align: center;
}

.currency-radio {
  display: inline-flex;
  align-items: center;
}

.currency-radio input[type="radio"] {
  margin-right: 8px;
}

.error-message {
  display: block;
  color: red;
  margin-top: 10px;
}

.systemChange {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.systemChange img {
  margin-right: 25px;
}
