.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
  color: white;
}

.username {
  font-size: 25px;
}

.logout-button,
.systems-button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: transform 0.5s ease-in-out;
}

.logout-button:hover,
.systems-button:hover {
  transform: scale(1.2);
}
